* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  display: block;
  text-decoration: none;
  color: #1d2129;
}

a:hover {
  background: #fff;
}

a:focus {
  background: #fff;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -50px;
  margin-top: 30px;
  font-size: smaller;
}

a:hover .tooltip {
  visibility: visible;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
