* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  display: block;
  text-decoration: none;
  color: #1d2129;
  border: 1px solid #e9ebee;
}

a:hover {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

a:focus {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -165px;
  font-size: smaller;
  width: 150px;
  height: 80px;
  display: flex;
  cursor: initial;
}

.friend:hover .tooltip {
  visibility: visible;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  bottom: 45%;
  left: 100%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltipLink:hover {
  background: none;
  text-decoration: underline;
}

.tooltipLink:focus {
  background: none;
}

button:focus {
  outline: none;
}

.underline {
  border: none;
}

.underline:hover {
  text-decoration: underline;
  border: none;
}

.friend:hover {
  background: #fff;
}

.postButton {
  background: #fff;
  animation: dislike 150ms ease-in-out;
}

.postButton:hover {
  background: #e9ebee;
}

.postButton:focus {
  outline: 1px solid lightblue;
}

.liked {
  animation: like 150ms ease-in-out;
}

.liked i {
  color: blue;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dislike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.addComment {
  animation: addComment 150ms ease-in-out;
}

@keyframes addComment {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/*  login screen styles  */

.formContainer {
  background-color: #c7c8cc;
  display: flex;
  height: 60vh;
  width: 30vw;
  margin-left: 35%;
  padding-top: 1%;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

.formContainer h2 {
  margin-bottom: 3%;
}

.formContainer i {
  margin-bottom: 4%;
  color: grey;
}

.bodyWrapper {
  background-image: linear-gradient(to bottom, #e8dadb, #77848e);
  height: 100vh;
  padding-top: 7%;
}

.email,
.password,
.fName,
.lName {
  background-color: #fff;
  border-radius: 5px;
  height: 5vh;
  width: 17vw;
  margin-bottom: 3vh;
  font-size: 15px;
}

.login,
.signup {
  background-color: #00c6ff;
  border-radius: 5px;
  border: 0.5px solid #fff;
  padding: 7px;
  margin: 7px;
  cursor: pointer;
  font-weight: bold;
  display: block;
}

.login:hover,
.signup:hover {
  background-color: #00a6dd;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.logout {
  background-color: #00c6ff;
  border-radius: 5px;
  border: 0.5px solid #fff;
  padding: 7px;
  margin: 7px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.logout:hover {
  background: #00a6dd;
}

.commentInput:focus {
  outline: none;
}
