* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  display: block;
  text-decoration: none;
  color: #1d2129;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
}

button:focus {
  outline: none;
}

button:hover {
  background: #ddd;
}
